body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    color: #3a3a3a;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

@media (max-width: 767.98px) {
    #header-img{
        width: 100%;
    }
}